@font-face {
  font-family: 'kek';
	src:  
		url('./fonts/VarelaRound-Regular.woff') format('woff'),
		url('./fonts/VarelaRound-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
